:root {
  --primary-color: #2C9B5A;
  --secondary-color: #16502E;
  --grey-color: gray;
  --font-heading: 'Unbounded', sans-serif;
  --font-body: 'Unbounded', sans-serif;
}

/* Inheritance override for a persnickety HR rule in Bootstrap */
.content-container hr{
  border-radius: 5px;
  width: 80%;
  margin: 1rem auto;
}

.content-light hr {
  border: 1px dashed var(--primary-color);
  width: 80%;
  margin: 1rem auto;
}

.content-dark hr {
  border: 1px dashed #fff;
  width: 80%;
  margin: 1rem auto;
}

#container {
  z-index: 0;
  font-family: var(--font-body);
}

.max-amount-btn {
  color: var(--primary-color);
  padding: 0;
  border: 0;
  background-color: unset;
  font-weight: 600;
}

.max-amount-btn:hover {
  color: var(--primary-color);
}

#nav-bar {
  background: var(--bs-body-bg);
  border-bottom: 1px solid lightgray;
  padding-bottom: 15px;
  position: fixed;
  width: 100%;
}

#nav-dropdown svg {
  width: 16px;
  margin: 0 0.5rem 0 1rem;
}

.navbar-dark #nav-dropdown svg path {
  fill: #fff;
}

.navbar-dark #nav-bar{
  background: #fff;
}

#nav-bar-container {
  padding-left: 20px;
}

#nav-bar-brand {
  font-weight: 600;
  color: black;
  cursor: pointer;
}

.nav-bar-brand-highlight {
  color: var(--primary-color);
}

#nav-bar-select {
  border: 0;
}

#nav-bar-select-container {
  margin: 0 auto;
  width: 25%;
}

#spinner {
  display: block;
  margin: 0 auto;
  margin-top: 200px;
  height: 100px;
  width: 100px;
}

#toast {
  width: 100px;
  color: white;
}

.modal-title {
  font-family: var(--font-heading);
}

.modal-body {
  overflow-wrap: break-word;
}

.nav-link.active {
  opacity: 100%;
  text-decoration: none;
  font-weight: 600;
  border: 0 !important;
  border-bottom: 1px solid var(--primary-color) !important;
  width: 100px !important;
  margin: 0 auto;
}

.nav-link.active svg {
  fill: var(--primary-color) !important;
}

.nav-link {
  opacity: 100%;
  width: 100px !important;
  margin: 0 auto;
  border: 0 !important;
  transition: all 0.2s ease-in-out !important;
}

#nav-dropdown {
  font-weight: 300;
  margin: 0 auto !important;
  width: 100% !important;
  font-size: 16px;
}

.nav-dropdown-item {
  font-size: 16px;
  font-weight: 100;
}

#dropdown-image {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.navbar-image-link {
  width: 30px;
  height: 30px;
}

.navbar-dark .navbar-image-link {
  fill: #fff;
}

.navbar-dark .navbar-text {
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: #fff;
}

#nav-dropdown-container {
  margin-top: 5px;
  margin-left: 7%;
}

.nav {
  border: 0 !important;
}

.nav-link:hover {
  transform: scale(1.1);
}

.nav-social-icon {
  transition: all .3s ease-in-out;
  width: 50px;
  height: 50px;
}

.nav-social-icon svg, .nav-social-icon svg {
  fill: --primary-color;
}

.navbar-dark .nav-social-icon svg, .footer-dark .nav-social-icon svg {
  fill: #fff;
}

.nav-social-icon:hover {
  transform: scale(1.3);
}

.content-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

#balance {
  font-weight: 600;
  font-family: var(--font-heading);
  text-transform: uppercase;
  font-size: 45px;
  margin: 0 auto;
}

.input-text {
  min-width: 175px;
  font-family: var(--font-body);
}

input {
  font-family: var(--font-body) !important;
}

select {
  font-family: var(--font-body) !important;
}

button {
  font-family: var(--font-body) !important;
}

.input-group .input-text-field::placeholder {
  font-weight: lighter;
  opacity: 0.4;
  font-family: var(--font-body);
}

#dashboard-inner {
  margin-bottom: 20px;
}

.action-button-title{
  font-size: 0.7rem;
}

.send-receive-button-container {
  width: 85px;
  margin: 0 1rem 3rem;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.send-receive-button-container:hover {
  scale: 1.05;
}

.send-receive-button {
  height: 40px;
  width: 40px;
}

.content-dark svg path {
  fill: #fff;
}

.account-summary-container-card .card-title {
  margin: 0 var(--bs-card-title-spacer-y);
  color: var(--bs-card-title-color);
}

.account-summary-container {
  width: 60%;
  margin: 0 auto !important;
  font-family: var(--font-heading);
  text-transform: uppercase;
}

.account-summary-container-card {
  font-size: 12px !important;
  margin: 0 0 0 0 !important;
}

.account-summary-info {
  text-align: left;
  margin: 0 auto;
  width: 50%;
}

.account-summary-info-title {
  font-weight: 400;
  font-size: 15px;
  font-family: var(--font-heading);
  text-transform: uppercase;
}

.account-summary-info-content-container {
  padding: 5px;
  border-radius: 5px;
  margin: 1rem 0;
  border: 1px solid lightgray;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  width: 100%;
  position: relative;
}

.account-summary-info svg {
  max-width: 30px;
  position: absolute;
  top: 7px;
  right: -7px;
}

.account-summary-info-content-container:hover {
  scale: 1.05;
}

.account-summary-info-content {
  font-size: 12px;
  font-weight: 100;
  width: 97%;
  overflow: hidden;
}

.account-summary-info-content-image {
  height: 10px;
  width: 10px;
  position: relative;
  float: right;
}

.account-summary-info-table-column {
  max-width: 90%;
  margin: 0 auto;
}

.table-hover tr td {
  position: relative;
}

.table-hover tr td svg {
  position: absolute;
  max-width: 30px;
  top: 7px;
  right: -11px;
}

.gov-header svg {
  max-width: 50px;
  margin: 0 1rem;
  padding-bottom: 1rem;
}

.gov-header span {
  margin: 0 0.5rem;
  display: inline-block;
}

#pk-button {
  color: var(--primary-color);
  border-color: var(--primary-color);
  margin: 20px;
}

#pk-button:hover {
  color: white;
  background-color: var(--primary-color);
}

#export-pk-button {
  margin: 20px;
}

#reveal-pk-button {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  margin: 10px;
}

#reveal-pk-button:hover {
  background-color: var(--secondary-color);
  color: white;
}

#reveal-pk-button:hover {
  margin: 10px;
}

#import-pk-button {
  color: var(--grey-color);
  border-color: var(--grey-color);
  margin: 10px;
}

#import-pk-button:hover {
  background-color: var(--grey-color);
  color: white;
}

#import-pk-button:hover {
  margin: 10px;
}

.table-label{
  text-align: center;
  font-weight: 100;
  font-size: 14px;
}

.recent-transactions-table {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  white-space: nowrap !important;
  font-size: 12px;
}

.table {
  background-color: #d2d2d2;
  border: 1px solid #d2d2d2;
  border-radius: 5px !important;
  overflow: hidden;
  cursor: pointer;
  font-weight: 300;
}

th {
  font-family: var(--font-heading) !important;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.logs-button-container {
  alignment: left;
  width: 20px;
  height: 20px;
  position: relative;
  top: 27px;
  left: 42px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.logs-container {
  background-color: red;
}

.logs {
  text-align: left;
  height: 350px;
}

.logs-button-container:hover {
  scale: 1.2;
}

.logs-button {
  width: 25px;
  height: 25px;
}

.col {
  padding: 0;
  margin: 0 auto;
}

.row {
  padding: 0;
  margin: 0;
}

.container {
  align-content: center !important;
  align-items: center !important;
}

.carousel {
  margin: 0 auto;
  width: 600px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item-container {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.carousel-item-title {
  font-size: 18px;
  font-weight: 400 !important;
  font-family: var(--font-heading);
  text-transform: uppercase;
}

.content-dark .carousel-item-detail {
  width: 50%;
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto 10px;
  color: inherit;
}

#carousel-item-detail-title {
  font-weight: 600;
  color: var(--primary-color);
}

.navbar {
  font-family: var(--font-heading);
  font-size: 12px;
  text-transform: uppercase;
}

.carousel-item-detail {
  width: 50%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #7b7b7b;
}

[data-bs-theme=dark] .content-dark .carousel .carousel-indicators [data-bs-target], [data-bs-theme=dark].content-dark.carousel .carousel-indicators [data-bs-target] {
   background-color: #fff;
 }

[data-bs-theme=dark] .content-dark .carousel .carousel-control-next-icon, [data-bs-theme=dark] .content-dark .carousel .carousel-control-prev-icon, [data-bs-theme=dark] .content-dark.carousel .carousel-control-next-icon, [data-bs-theme=dark].content-dark.carousel .carousel-control-prev-icon {
  filter: invert(0) grayscale(100);
}

[data-bs-theme=light] .content-light .carousel .carousel-indicators [data-bs-target], [data-bs-theme=light].content-light.carousel .carousel-indicators [data-bs-target] {
  background-color: #000;
}

[data-bs-theme=light] .content-light .carousel .carousel-control-next-icon, [data-bs-theme=light] .content-light .carousel .carousel-control-prev-icon, [data-bs-theme=light].content-light.carousel .carousel-control-next-icon, [data-bs-theme=light].content-light.carousel .carousel-control-prev-icon {
  filter: invert(1) grayscale(100);
}

#dashboard-hr {
  border: 1px dashed white;
  margin: 0 auto;
  width: 25%;
}

#lazy-log {
  text-align: left;
  height: 300px !important;
  margin-bottom: 50px;
  border: 2px solid #222222;
  filter: grayscale(100%);
}

.content-dark .react-lazylog-searchbar {
  background: #111;
  color: #fff;
}

.content-dark .logs-button {
  width: 25px;
  height: 25px;
  filter: invert(1);
}

.content-dark span.react-lazylog-searchbar-matches.inactive {
  color: #fff;
}

.content-light .react-lazylog-searchbar {
  background: #ddd;
  color: #111;
}

.content-light span.react-lazylog-searchbar-matches.inactive {
  color: #111;
}

.content-light input.react-lazylog-searchbar-input {
  background: #fff;
}

.content-light #lazy-log {
  text-align: left;
  height: 300px!important;
  margin-bottom: 50px;
  border: 0;
  filter: grayscale(100%);
  background: #eee;
}

#charts-container {
  margin-top: 350px;
  margin-bottom: 50px;
}

.area-chart {
  border: 2px solid #222222;
  border-radius: 6px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.carousel-btn {
  font-weight: 600;
  font-size: 14px;
  margin: 5px;
}

#propose-title {
  font-weight: 600;
  font-size: 35px;
  margin: 0 auto;
  font-family: var(--font-heading);
  text-transform: uppercase;
}

#propose-subtitle {
  font-weight: 400;
  font-size: 18px;
  color: var(--primary-color);
  font-family: var(--font-heading);
  text-transform: uppercase;
}

.governance-header-image {
  width: 50px;
  height: 50px;
  position: relative;
  top: -10px;
  left: -10px;
}

.gov-header-hr {
  border: 1px dashed black;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
}

.poll-carousel {
  height: 480px;
  width: 80%;
}

.poll-carousel-container {
  width: 80% !important;
}

.poll-column {
  width: 50% !important;
}

.pi-label {
  font-weight: 600;
  font-size: 14px;
}

.pi-cell {
  filter: drop-shadow(0px 0px 1px black);
}

.vote-table {
  width: 500px !important;
  margin: 0 auto !important;
  margin-bottom: 20px !important;
}

.vote-table-col {
  max-width: 300px !important;
  margin: 0 auto !important;
}

.accord {
  display: block;
  text-align: center;
  justify-content: center;
}

.accord-item {
  margin: 0 auto;
  width: 50%;
  font-weight: 600;
}

.accord-body-container {
  width: 450px !important;
  height: 200px !important;
  margin: 0 auto !important;
}

.accord-pass-container {
  width: 450px !important;
  margin: 0 auto !important;
}

.poll-prop-name {
  width: 100%;
  margin: 0 auto;
  font-weight: 600;
}

.poll-prop-hash {
  margin: 0 auto;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1.5px;
}

.poll-prop-url {
  margin: 0 auto;
  font-weight: 300;
}

.poll-container {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
}

.poll-prop-url {
  margin: 1rem auto;
  font-weight: 300;
  display: block;
}

.content-light .poll-prop-url {
  color: var(--primary-color);
}

.content-dark .poll-prop-url {
  color: #fff;
}


.poll-form {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  font-size: 14px !important;
  background: #222222 !important;
  color: white !important;
  cursor: pointer;
}

.propose-button {
  font-weight: 800 !important;
  width: 300px;
  margin: 20px;
  margin-bottom: 0;
}

.param-input {
  width: 125px;
}

.accordion-button {
  font-weight: 800 !important;
  display: block !important;
  text-align: center !important;
  border: 1px solid black !important;
}

.accordion-button:hover {
  color: white;
  background-color: black;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: white !important;
}

.nav-bar-logo {
  height: 20px;
  margin-right: 8px; 
  vertical-align: middle;
}

/* TODO: Organize these CSS files into logical groups around page elements */

.form-check.form-switch.color-mode {
  padding: 0 1rem;
}

.form-check-input:checked#darkModeSwitch {
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
}

.form-switch .form-check-input#darkModeSwitch, .form-switch .form-check-input:focus#darkModeSwitch {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%232c9b5a'/%3e%3c/svg%3e");
  border-color: #2c9b5a;
  outline: 0;
  box-shadow: none;
}

.navbar-dark .form-switch .form-check-input#darkModeSwitch, .navbar-dark .form-switch .form-check-input:focus#darkModeSwitch {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e");
}

input#darkModeSwitch {
  width: 2rem;
  height: 1.1rem;
}

label#colorSwitchLabel {
  font-size: 1rem;
  padding: 0 0.5rem;
}

.navbar-dark .navbar-brand svg path {
  fill: #fff;
}

i.bi {
  color: var(--primary-color);
}

/* Footer */

footer {
  padding: 2rem;
}

footer .container {
  text-align: center;
}

footer .container a {
  display: inline-block;
  margin: 1rem;
}